# Data Science Notebook

## Introduction

Welcome to this data science notebook! In this notebook, we will explore various aspects of data science, including programming languages, libraries, tools, and basic arithmetic expressions. Let's dive in!

Exercise 4 - Data Science Languages:

In [3]:
ds_languanges = ["python", "R", "Julia", "Scala", "SQL"]
print(ds_languanges)

['python', 'R', 'Julia', 'Scala', 'SQL']

  Exercise 5 - DS Libraries

In [2]:
ds_libs = ["numpy", "pandas", "scikit-learn"]
print(ds_libs)

['numpy', 'pandas', 'scikit-learn']

Exercise 6 - Data Science Tools Table:

In [5]:
import pandas as pd

data = {
    'Tool': [
        'Jupyter Notebook',
        'VS Code',
        'Git',
        'Docker',
        'SQL Databases',
        'Tableau',
        'Spark'
    ],
    'Purpose': [
        'Interactive coding',
        'Code editing',
        'Version control',
        'Containerization',
        'Data storage and queries',
        'Data visualization',
        'Big data processing'
    ]
}

df = pd.DataFrame(data)
df.head(6)

               Tool                   Purpose
0  Jupyter Notebook        Interactive coding
1           VS Code              Code editing
2               Git           Version control
3            Docker          Containerization
4     SQL Databases  Data storage and queries
5           Tableau        Data visualization

Exercise 7 - Arithmetic Expression Examples:
In data science, arithmetic expressions play a crucial role in calculations and analysis. Here are some examples:

- Addition: `2 + 3`
- Subtraction: `10 - 5`
- Multiplication: `4 * 6`
- Division: `15 / 3`
- Exponentiation: `2 ** 4`

Exercise 8 - Create a code cell to multiply and add numbers

In [9]:
multiply = 4 * 3
addition = 1 + 2

Exercise 9 - Create a code cell to convert minutes to hours.

In [10]:
def minutes_to_hour(input):
  hour = input / 60
  return hour

minutes_to_hour(60)

1.0

Exercise 10 - Objectives:

In this notebook, we aim to achieve the following:

1. Explore different programming languages in data science.
2. Discover essential data science libraries.
3. Introduce common data science tools.
4. Practice basic arithmetic expressions.
5. convert minute hour using function

*Author: Baskoro Nugroho*